.char_room_wrapper{
  color: white;
    border-radius: 8px;
    padding: 4px 8px 5px;
    width:400px;
    position: relative;
    background-color: rgba(127, 142, 240, 0.985);

}
@media (width<830px) {
    .char_room_wrapper{
        width: 85%;
        margin: auto;
    }
    
}


.char_room_wrapper:hover{

    filter: brightness(0.9);
}
.char_room_wrapper:hover .enter_button {
  filter: brightness(100%);
}


span{
    background-color: rgba(13, 8, 70, 0.882);
    padding: 5px;
    font-size: 20px;
    border-radius: 4px;
    letter-spacing: 1.1px;
}
.char_room_wrapper > section{
background-color: rgba(42, 49, 139, 0.79);
padding: 12px;
border-radius: 2px;

}
main{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap :10px 10px;
}
.audiance_type{
    display: flex;
     justify-content: space-around;
    padding: 8px;
    border-radius: 2px;
    margin-top: 10px;
}
.audiance_type>div{
    padding: 4px;
    /* color: rgb(253, 253, 253); */
    background-color: rgba(161, 210, 238, 0.284);
      border-radius: 2px;
        box-shadow: 0px 4px 6px rgba(0,0,0,0.8);
}
.enter_button{
  
    position: absolute;
    top: 50%;
    left: 50%;
  filter: brightness(1);
   width: 40px;
   height: 40px;
    background-color: rgb(166, 196, 214);
    border-radius: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.enter_button:hover{
  
     cursor: pointer;
    background-color: rgb(250, 86, 9);
}
