.logo{
  width: 70px;
  height: 50px;
  
}
.logo_{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo:hover{
  cursor: pointer;
}
.head,
h1,
.video-room >p {
  font-size: 30px;
  /* color: whitesmoke; */
  transform: translateY(10px);
  opacity: 0.2;
  animation: pullup 0.5s linear forwards;
}

@keyframes pullup {


  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.section > p {
  /* color: whitesmoke; */
  color: var(--text-color2);
  font-size: var(--font-size3);
}

.section {
  /* border: 1px solid red; */
  min-width: 250px;
  height: 120px;
  margin-top: 20px;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--primary-color2);
  /* background-color: rgba(66, 66, 135, 0.589); */
}
.rooms-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media (width<520px) {
  
  .rooms-wrapper{
    flex-direction: column;
  }
}
.enter-room-btn {
  border-radius: var(--border-radius2);
  padding: var(--padding2);
  cursor: pointer;
  font-size: var(--font-size3);
   /* color: rgb(229, 169, 134); */
  background-color:var(--text-color1);  
  color: var(--primary-color1);
    box-shadow: var(--box-shadow1);
  cursor: pointer;
}
.enter-room-btn:hover {
   color: var(--primary-color3);
  /* filter: drop-shadow(0px 4px 30px rgb(229, 226, 225)); */
}
.header_top_section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

