*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
  background-color: rgb(12, 12, 76);
  margin: 0px;
  padding: 10px;
}

Link{
    display: block;
}




input , button {
  outline: none;
  border: none;
}
Link,a{
text-decoration: none;
color: inherit;
}

button{
  padding: 8px 4px;
  border-radius: 5px;
  cursor: pointer;
}