.call_wrapper {
  position: absolute;
  z-index: 2;
  width: 300px;
  height: 200px;
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* transform: translateX(50%); */
  border-radius: 8px;
top: 0;
left: 10%;
  
  /* border: 2px solid yellow; */
  background-color: rgb(4, 0, 3);
}
.accept_decline {
  display: flex;
  padding: 12px;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;


  
}
.accept_decline > button {

  border-radius: 50%;
 width: 4em;
 height: 4em;
  animation: size 2s linear infinite;
}

.accept{
background-color: rgb(98, 195, 98);
}

.decline{
background-color: rgba(232, 76, 76, 0.721);
}
@keyframes size {

50%{
transform: translateY(5px);
filter: brightness(0.7);
}
100%{

}
  
}
.caller_info {
  color: whitesmoke;
}
