.user_form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 23px;
    width: 300px;
   /* border: 0.8px solid whitesmoke; */
   box-shadow: 5px 0px -10px rgba(14, 14, 14, 0.818);
    background-color: rgba(53, 30, 61, 0.73);
    border-radius: 13px;
}
.user_form>input{
    padding: 12px;
        border-radius: 5px;
        margin: auto;
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: space-between;
        font-size: 21px;
}
.user_form > button{
    display: flex;
    margin: auto;
    padding: 4px 12px;
    margin-top: 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 21px;

}
.user_detail{
    display: flex;
    margin-top: 24px;
    width: 100%;
    justify-content:space-between;
    align-items: center;
   
}

.user_detail>button{
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
}
.user_detail>h4{
    font-size: 21px;
}
.join_room{
    padding: 4px 8px;
    margin-top: 12px;
    cursor: pointer;
    font-size: 21px;
    border-radius: 12px;
    color: rgb(16, 15, 15);
}
h1,h2,h3{
    color: aliceblue;
}

.webrtc_template{

  padding: 12px;
  border-radius: 8px;
 padding: 12px;
  background-color: black;

}
.video_wrappers{
    display: flex;
    width: 100%;
    align-items: center;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
}

.video{
width: 100%;
height:auto;
border-radius: 12px;
}
.name_video>h1{

}
.user_form>input{
    width: 90%;
   
}
.connected_people_wrapper{
    width: 60%;
    margin: auto;
    border-radius: 12px;
    padding: 12px 24px;
    color: white;
    background-color: rgba(44, 98, 168, 0.558);
    margin: 20px 100px;
    justify-content: space-between;
}