.user_form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 23px;
    width: 300px;
    background-color: var(--primary-color2);
    border-radius: var(--border-radius2);
   /* border: 0.8px solid whitesmoke; */
   box-shadow: 5px 0px -10px rgba(14, 14, 14, 0.818);
    /* background-color: rgba(53, 30, 61, 0.73); */
    /* border-radius: 13px; */
}
.user_form>input{
    padding: 12px;
        border-radius: 5px;
        margin: auto;
        display: flex;
        font-size: var(--font-size2);
        color:var(--text-color2);
        align-items: center;
        gap: 8px;
        justify-content: space-between;
        font-size: 21px;
        box-shadow: var(--box-shadow1);
}
.user_form > button{
    display: flex;
    margin: auto;
    padding: 4px 12px;
    margin-top: 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 21px;
    background-color: var(--text-color1);
    color: var(--primary-color3);

}
.user_detail{
    display: flex;
    margin-top: 24px;
    width: 100%;
    justify-content:space-between;
    align-items: center;
   
}

.user_detail>button{
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--primary-color2);
    color: var(--text-color2);
    font-size:var(--font-size3);
}
.user_detail>button:hover{
    color:var(--text-color1);
}
.user_detail>h2{
    font-size: var(--font-size1);
    color: var(--text-color1);
}
.join_room{
    padding: 4px 8px;
    margin-top: 12px;
    cursor: pointer;
    font-size: 21px;
    border-radius: 12px;
    color: var(--primary-color3);
    background-color: var(--text-color1);
}


.webrtc_template{

  padding: 12px;
  border-radius: 8px;
 padding: 12px;
  background-color:var(--primary-color2);

}
.video_wrappers{
    display: flex;
    width: 100%;
    align-items: center;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
 
}

.video{
width: 100%;
height:auto;
border-radius: 12px;
}
.name_video>h1{

}
.user_form>input{
    width: 90%;
   
}
.connected_people_wrapper{
    width: 60%;
    margin: auto;
    border-radius: 12px;
    padding: 12px 24px;
    color: var(--text-color2);
    margin: 24px auto;
    /* background-color: rgba(44, 98, 168, 0.558); */
    /* margin: 20px 100px; */
    justify-content: space-between;
}


@media (width<700px) {
    .connected_people_wrapper{
        width: 85%;
    }
}
.getUser_media_btn{
    margin: auto;  
       background-color: var(--primary-color3); 
      border-radius: var(--border-radius2);
      width: 350px;
      height: 200px;
      border-radius: 4px;
          color: var(--text-color2);
      display: flex;
      flex-direction:column;
      font-size: var(--font-size1);
      align-items: center;
      padding: var(--btn-padding);
      text-align: center;
      justify-content: space-evenly;
      box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.2);
}

.getUser_media_btn >button{
     color:var(--primary-color2);
     font-size: var(--font-size3);
       padding: var(--btn-padding);
     background-color: var(--text-color1);
}
.getUser_media_btn >button:hover{
    color:var(--primary-color3)
}