*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
  background-color: rgb(12, 12, 76);
  /* background-image: linear-gradient(rgb(14, 14, 52),rgb(35, 33, 127)); */
  margin: 0px;
  padding: 10px;
}

Link{
    display: block;
}




input , button {
  outline: none;
  border: none;
}
Link,a{
text-decoration: none;
color: inherit;
}

button{
  padding: 8px 4px;
  border-radius: 5px;
  cursor: pointer;
}


h1{

font-family: 'Nunito', sans-serif;
font-weight: 700;
}
p{
  font-family: "Nunito",sans-serif;
  font-weight: 500;
}